@model TMS.Domain.Entities.Worktask

@using TMS.WebApp.Services
@using TMS.Domain.Common
<link rel="stylesheet" href="~/Content/plugins/jQueryUI/jquery-ui.css">
<link href="~/Content/uploadFile/uploadfile.css" rel="stylesheet" />
<link href="~/Content/plugins/autocomplete/autocomplete.css" rel="stylesheet" />

<div id="modal-container-createmodal" class="modal fade inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <h4 class="modal-title text-left">Công việc mới</h4>
            </div>
            @using (Html.BeginForm("InsertTask", "Worktask", FormMethod.Post, new { @id = "formCreateTask" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Reporter)
                        @Html.HiddenFor(model => model.Priority)
                        <!--TASK TITLE-->
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2 fieldrequired" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <!--TASK CATEGORY-->
                            <div class="">
                                @Html.LabelFor(model => model.TaskType, htmlAttributes: new { @class = "control-label col-md-2 fieldrequired" })
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.TaskType, CategoryService.GetInstance().GetCategoryList(Contain.CatType.Category), new { @class = "form-control dropdown" })
                                    @Html.ValidationMessageFor(model => model.TaskType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--TASK COMPANY-->
                            <div class="">
                                @Html.LabelFor(model => model.MetaInfoCompany, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.MetaInfoCompany, CategoryService.GetInstance().GetCategoryList(Contain.CatType.Company), new { @class = "form-control dropdown" })
                                    @Html.ValidationMessageFor(model => model.MetaInfoCompany, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                @Html.LabelFor(model => model.MetaInfoDocumentNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.MetaInfoDocumentNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MetaInfoDocumentNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--TASK ASIGNEE NAME-->
                            <div>
                                @Html.LabelFor(model => model.Assignee, htmlAttributes: new { @class = "control-label col-md-2 fieldrequired" })
                                <div class="col-md-4">
                                    <div id="search_bar_assignee"></div>
                                    @Html.EditorFor(model => model.Assignee, new { htmlAttributes = new { @class = "form-control", @style = "display:none;" } })

                                    <div id="validation-message">
                                        @Html.ValidationMessageFor(model => model.Assignee, "", new { @class = "text-danger", @style = "margin-left: -125px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="data_tocompanydate">
                                @Html.LabelFor(model => model.MetaInfoToVRGDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.MetaInfoToVRGDateTime, new { htmlAttributes = new { @class = "form-control date datepicker", @id = "tovrgdate", @readonly = "readonly" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.MetaInfoToVRGDateTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div id="data_todepartmentdate">
                                @Html.LabelFor(model => model.MetaInfoToDepartmentDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.MetaInfoToDepartmentDateTime, new { htmlAttributes = new { @class = "form-control date datepicker", @id = "todepartmentdate", @readonly = "readonly" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.MetaInfoToDepartmentDateTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!--TASK PLAN START-->
                        <div class="form-group">
                            <div id="data_startdate">
                                @Html.LabelFor(model => model.PlannedStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.PlannedStartDate, new { htmlAttributes = new { @class = "form-control date datepicker", @id = "startDate", @readonly = "readonly" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.PlannedStartDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!--TASK PLAN END-->
                            <div id="data_enddate">
                                @Html.LabelFor(model => model.PlannedEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.PlannedEndDate, new { htmlAttributes = new { @class = "form-control date datepicker", @id = "endDate", @readonly = "readonly" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.PlannedEndDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!--TASK DESCRIPTION-->
                        <div class="form-group">
                            <div>
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @rows = "3" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div>
                                <label class="control-label col-md-2">Công việc liên quan</label>
                                <div class="col-md-4">
                                    <div id="search_bar_related_tasks"></div>
                                    <input name="RelatedTaskValue" id="relatedtasklistnew" type="hidden" />
                                </div>
                            </div>
                        </div>
                        <!--TASK ATTACHMENT FORM-->
                        <div class="form-group">
                            <label class="control-label col-md-2">File đính kèm</label>
                            <div class="col-md-7">
                                <div id="file-uploader">Tải lên</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--TASK DIRECTOR NAME-->
                            <div>
                                @Html.LabelFor(model => model.Director, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div id="search_bar_director"></div>
                                    @Html.EditorFor(model => model.Director, new { htmlAttributes = new { @class = "form-control", @style = "display:none;" } })

                                    <div id="validation-message">
                                        @Html.ValidationMessageFor(model => model.Director, "", new { @class = "text-danger", @style = "margin-left: -125px;" })
                                    </div>
                                </div>
                            </div>
                            <!--TASK COUNCILMEMBER NAME-->
                            <div>
                                @Html.LabelFor(model => model.CouncilMember, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div id="search_bar_councilmember"></div>
                                    @Html.EditorFor(model => model.CouncilMember, new { htmlAttributes = new { @class = "form-control", @style = "display:none;" } })

                                    <div id="validation-message">
                                        @Html.ValidationMessageFor(model => model.CouncilMember, "", new { @class = "text-danger", @style = "margin-left: -125px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--MODAL FOOTER HERE MODAL FOOTER HERE MODAL FOOTER HERE MODAL FOOTER HERE MODAL FOOTER HERE-->
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Hủy" class="btn btn-white reset-button" data-dismiss="modal" />
                            <input type="submit" value="Tạo" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@Html.Partial("_EditAttachment", @Model, new ViewDataDictionary { { "action", "create" } })
<script src="~/Scripts/plugins/upload/upload.js"></script>
<script src="~/Scripts/worktask/wt.js"></script>
<script src="~/Scripts/worktask/worktask.resetform.js"></script>
<script type="text/javascript">
    @{ 
        HttpCookie cookie = Request.Cookies.Get(User.Identity.Name + "lastviewedboard");
        string boardid = (cookie == null ? String.Empty : cookie.Value);
        int id = 0;
        int.TryParse(boardid, out id);
        var boardcode = KanbanService.GetInstance().GetBoardCode(id);
    }
    var taskmgr_current_board_code = "@boardcode";
    $(document).ready(function () {
        WorkTasks.init();
        $("#TaskType").combobox();
        $("#MetaInfoCompany").combobox();
    });
</script>
