@model P050916.Domain.Entities.Account

<link href="~/Content/uploadFile/uploadfile.css" rel="stylesheet" />
<script src="~/Scripts/plugins/upload/upload.js"></script>

<!--Add user modal -->
@*<div class="modal fade padding100 no-padding-top no-padding-bottom" style="overflow:auto" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true" id="modal-add-user">
    <div class="modal-body" style="position: initial; overflow:auto">
        <div class="modal-content">
            <div class="modal-header bg-green" id="modal-h-Add">
                <div class="row">
                    <div class="col-md-5">
                        <h3 class="modal-title fg-white" id="gridSystemModalLabel"><strong>Thêm user</strong></h3>
                    </div>
                </div>
            </div>
        </div>*@
@using (Html.BeginForm("Save", "Admin", FormMethod.Post))
            {
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id = "input-username-a", @disable = "disable"  } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DisplayName2, htmlAttributes: new { @class = "control-label col-md-3", @id = "input-display-a" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DisplayName2, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
               @Html.LabelFor(model => model.IsLocalUser, htmlAttributes: new { @class = "control-label col-md-3", @id = "input-display-a" })
            <div class="col-md-4">
                    @Html.CheckBoxFor(model => model.IsLocalUser, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Department.DeptName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.DropDownList("Departments", (IEnumerable<SelectListItem>)ViewBag.Departments, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.DropDownList("Role", (IEnumerable<SelectListItem>)ViewBag.roles, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Hủy" class="btn btn-white reset-button" data-dismiss="modal" />
                        <input type="submit" value="Tạo" class="btn btn-primary" />
                    </div>
                </div>
            </div>
}
@*</div>
    </div>*@
